/* navbar */
.navbar {
    overflow: hidden;
    background: rgba(180, 159, 141, .5);
    text-decoration: none;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 24px 24px;
    text-decoration: none;
    font-size: 24px;
    color: #674740;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .drop-button {
    font-size: 22px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.cats-dropdown {
    display: none;
    position: absolute;
    background-color: #ece5d9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.cats-dropdown a {
    float: none;
    color: #674740;
    padding: 24px 24px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .cats-dropdown {
    display: block;
}

.navbar #title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    color: #674740;
}

.navbar a.right-split {
    float: right;
}

/* change link colour on hover */
.navbar a:hover {
    background: rgba(180, 159, 141, .6);
    color: #674740;
}

/* highlights current page */
.navbar a.active {
    background: rgba(180, 159, 141, .6);
    color: #674740;
}

.navbar .icon {
    display: none;
}


@media screen and (max-width: 748px) {
    .navbar a:not(:first-child), .dropdown .drop-button {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }

}

@media screen and (max-width: 748px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .navbar a {
        font-size: 18px;
    }

    .navbar.responsive .dropdown {
        float: none;
    }

    .navbar.responsive .cats-dropdown {
        position: relative;
    }

    .navbar.responsive .dropdown .drop-button {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/* cover image + text */
.image-head img {
    width: 100%;
    height: auto;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.image-head {
    background-image: url("images/reba-spike-OjB_lkGKhX8-unsplash.jpg");
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* overlay over cover image */
.text-overlay {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, .3);
    color: #ece5d9;
    font-weight: 400;
    border: 1px solid #ece5d9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 20px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 46px;
}

.text-overlay a {
    text-decoration: none;
    color: #ece5d9;
}

.text-overlay a:hover {
    color: rgba(236,229,217, 0.8);
}
* {
    box-sizing: border-box;
}


/* footer */
.footer {
    overflow: hidden;
    background: rgba(180, 159, 141, .5);
    text-decoration: none;
    width: auto;
    text-align: left;
    padding: 16px 16px;
}

.footer .footer-left, .footer .footer-middle, .footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* footer left */

.footer .footer-left {
    width: 40%;
}

.footer .footer-left h1 {
    color:#674740;
    font-family: 'Josefin Sans', sans-serif;
    margin: 24px;
    margin-left: 52px;
}

/* footer left links */
.footer .footer-links {
    color: #92706e;
    margin-left: 24px;
}

.footer .footer-links a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Vollkorn', serif;
    color: inherit;
}

.footer .footer-copyright {
    font-family: 'Vollkorn', serif;
    color: #674740;
    margin-left: 24px;
}
/* footer middle */

.footer .footer-middle {
    width: 30%;
}

.footer .footer-middle p {
    font-family: 'Vollkorn', serif;
    color: #674740;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
}

.footer .footer-middle i {
    color: #674740;
    font-size: 36px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-middle p span {
    display: block;
    line-height: 2;
}

.footer .footer-middle p a {
    color: #92706e;
}

/* footer right */
.footer-right h2 {
    color:#674740;
    font-family: 'Josefin Sans', sans-serif;
    margin: 24px;
    margin-bottom: 20px;
    display: block;
}

.footer-right .about {
    line-height: 20px;
    margin: 0;
    display: flex;
}

.footer .social {
    margin-top: 24px;
}

.footer .social a {
    display: inline-block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    font-size: 36px;
    text-align: center;
    line-height: 42px;
    margin-right: 24px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #674740;
}

.footer .footer-right {
    width: 25%;
}

/* form */

.drop-button-form {
    background-color: #674740;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 24px;
    right: 28px;
    width: 280px;
}

.form-contact {
    display: none;
    position: fixed;
    bottom: 0;
    right: 16px;
    border: 2px solid #674740;
    z-index: 9;
}

.form-container {
    max-width: 250px;
    padding: 12px;
    background-color: white;
}

.form-container input[type=text]:focus {
    background-color: #92706e;
    outline: none;
}

.form-container .btn {
    background-color: aliceblue;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover, .drop-button:hover {
    opacity: 1;
}